<div class="card-panel" id="top">
  <a class="right" routerLink="../" queryParamsHandling="merge">
    <i class="small material-icons">arrow_back</i>
  </a>
  <div id="topic">
    <div><img class="image" [src]="info.image" [alt]="info.title" /></div>
    <div>
      <span *ngIf="info.sub !== 'main'">
        <small>Category:</small>
        <h4>{{ info.sub }}</h4></span
      >
      <small>Item:</small>
      <h1>{{ info.title }}</h1>
    </div>
  </div>
  <span class="right">
    <i>
      <small
        >{{ info.id }} || Updated by:{{ info.updatedBy }} - on:
        {{ info.updatedAt.seconds * 1000 | date: 'medium' }}</small
      >
    </i>
  </span>
  <br />
</div>
