h1,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.image {
  max-height: 100%;
  max-width: 100%;
}
#topic {
  display: grid;
  grid-template-columns: 10% 1fr;
  grid-column-gap: 0.5rem;
  justify-content: center;
}
.gi {
  position: relative;
  left: 0.5rem;
  top: 0.2rem;
}
.right {
  display: block;
  justify-self: right;
  position: relative;
  top: -0.9rem;
  right: 0.5rem;
  color: #ccc;
}