  <mat-card class="example-card">
    <img mat-card-image src="./assets/images/underconstruction.png" [alt]="title">
    <mat-card-content >
        <span class="card-title">{{ title || 'Component'}} is still underconstruction</span>
        <p>Sorry, Robert is still working on this. Hopefully he will have this build soon.</p>
        <p>For now please check-out other section of the website, stay tuned.</p>
    </mat-card-content>
    <mat-card-actions>
      <a [routerLink]="['']" queryParamsHandling="merge">go home</a>
    </mat-card-actions>
  </mat-card>