<div class="card horizontal">
  <div class="card-image">
    <img src="../assets/images/underconstruction.png">
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <span class="card-title">{{ title || 'Component'}} is still underconstruction</span>
      <p>Sorry, Robert is still working on this. Hopefully i will have this build soon.</p>
      <p>For now please check-out some other section of the website</p>
    </div>
    <div class="card-action">
      <a [routerLink]="['']">go home</a>
    </div>
  </div>
