<div class="main" *ngIf="doc$ | async as doc">
  <div class="doc-grid5 row">
    <app-general-info class="genInfo col s12" [info]="doc"></app-general-info>
    <div class="col s6">
      <app-description
        class="block "
        *ngIf="doc.description"
        [description]="doc.description"
      ></app-description>
      <div class="notes" *ngIf="doc.notes">
        <app-note
          class="note"
          *ngFor="let note of doc.notes"
          [note]="note"
        ></app-note>
      </div>
    </div>
    <app-list
      class="block col s6"
      *ngIf="doc.listTitle"
      (imageModal)="openImageModal($event)"
      [list]="{ title: doc.listTitle, items: doc.list }"
    ></app-list>
    <div class="images col s6" *ngIf="doc.images">
      <app-image-block
        *ngFor="let image of doc.images"
        [ngClass]="{
          default: !image.size || image.size === 'default',
          small: image.size === 'small',
          medium: image.size === 'medium',
          large: image.size === 'large'
        }"
        [image]="image"
        (imageModal)="openImageModal($event)"
      ></app-image-block>
    </div>
    <app-list
      class="block col s6"
      *ngFor="let list of doc.lists"
      [list]="list"
      (imageModal)="openImageModal($event)"
    ></app-list>
    <section
      class="block col s6"
      *ngFor="let section of doc.html?.sections"
      class="card-panel block"
      [innerHTML]="section"
    ></section>
    <!-- {{ doc | json }} -->
  </div>
  <app-images
    *ngIf="imageModal?.open === true"
    [doc]="doc"
    [imageModal]="imageModal"
  ></app-images>
</div>
