<!-- <a [routerLink]="card.link" queryParamsHandling="merge">
  <div class="card-image card20">
    <img [src]="card.image" [alt]="card.title" class="responsive-img">
  </div>
  <div class="card-content" [ngClass]="{'white-text': !!card.color}">
    <span [ngClass]="['card-title']">{{ card.title }}</span>
  </div>
</a> -->

<mat-card class="example-card">
    <!-- <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header> -->
    <a [routerLink]="card.link" queryParamsHandling="merge"><img mat-card-image [src]="card.image" [alt]="card.title"></a>
    <mat-card-content [ngClass]="{'white-text': !!card.color}">
        <a [routerLink]="card.link" queryParamsHandling="merge"><h4 [ngClass]="['card-title']">{{ card.title }}</h4></a>
    </mat-card-content><!-- 
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>