<div class="grid">
  <div class="card blue-grey darken-1">
    <a [routerLink]="['./catalog']">
      <div class="card-image card20">
        <img src="../../../assets/images/nc.jpg" alt="Catalog" class="responsive-img">
      </div>
      <div class="card-content white-text">
        <span class="card-title">Nickels Custom Catalog</span>
      </div>
    </a>
  </div>
  <div class="card red darken-3">
    <a [routerLink]="['./sop']">
      <div class="card-image card20">
        <img src="../../../assets/images/SOP.jpg" alt="SOP" class="responsive-img">
      </div>
      <div class="card-content white-text">
        <span class="card-title">SOP system</span>
      </div>
    </a>
  </div>
  <div class="card orange darken-3">
    <a [routerLink]="['./mds']">
      <div class="card-image card20">
        <img src="../../../assets/images/mds.jpg" alt="MDS" class="responsive-img">
      </div>
      <div class="card-content white-text">
        <span class="card-title">MDS system</span>
      </div>
    </a>
  </div>
</div>
