<mat-toolbar class="brand-color appheader" *ngIf="section$ | async as section">
  <div class="whiteLine"></div>
  <a [routerLink]="['..']" class="brand-logo" queryParamsHandling="merge">
    <img class="imageLogo" src="/assets/icons/logoNC.svg" alt="Nickels Cabinets" aria-label="company logo" />
  </a>
  <div class="hide-on-small-only company-name"><span aria-label="company name or section">{{
      section.title }} - </span>
  </div>
  <div *ngIf="section.button" class="company-name">
    <button mat-icon-button [matMenuTriggerFor]="menuCat" aria-label="dashboard dropdown">
      <mat-icon>collections_bookmark</mat-icon>
      <span> {{(qparams$ | async)?.catalogue || 'Choose a catalogue'}}</span>
    </button>
    <mat-menu #menuCat="matMenu">
      <a *ngFor="let cat of section.dropdown" mat-menu-item [routerLink]="[]" [queryParams]="{ catalogue: cat.param }"
        queryParamsHandling="merge" routerLinkActive="active">
        <mat-icon>{{cat.icon}}</mat-icon>
        <span>{{cat.title}}</span>
      </a>
    </mat-menu>
  </div>
  <div class="align-right menu" *ngIf="user$ | async as user"><span aria-label="user name" class="user-name">{{user.data.firstName
      }}
      {{user.data.lastName }}</span>
    <button mat-icon-button [matMenuTriggerFor]="menuUser" aria-label="dashboard dropdown">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menuUser="matMenu">
      <a *ngFor="let dash of dashboard$ | async" mat-menu-item [routerLink]="dash.link" queryParamsHandling="merge"
        [disabled]="dash.default_disabled">
        <mat-icon>{{dash.icon}}</mat-icon>
        <span>{{dash.title}}</span>
      </a>
    </mat-menu>
    <a mat-icon-button [routerLink]="['','search']" queryParamsHandling="merge" aria-label="search">
      <mat-icon>search</mat-icon>
    </a>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="categories dropdown">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a *ngFor="let cat of categories$ | async" mat-menu-item [routerLink]="[cat.link]" queryParamsHandling="merge">
        <mat-icon>{{cat.icon}}</mat-icon>
        <span>{{cat.title}}</span>
      </a>
    </mat-menu>
  </div>
</mat-toolbar>
