<mat-toolbar class="brand-color">
  <div class="whiteLine"></div>
  <a [routerLink]="['..']" class="brand-logo">
    <img class="imageLogo" src="/assets/icons/logoNC.svg" alt="Nickels Cabinets" />
    <span>Nickels Custom Cabinets</span>
  </a>
  <div class="align-right menu" *ngIf="user$ | async as user"><span class="user-name">{{user.data.firstName }}
      {{user.data.lastName }}</span>
    <button mat-icon-button [matMenuTriggerFor]="menuUser">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menuUser="matMenu">
      <a mat-menu-item [routerLink]="['dashboard']">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-menu-item [routerLink]="['dashboard','profile']">
        <mat-icon>person_pin</mat-icon>
        <span>Profile</span>
      </a>
      <a mat-menu-item [routerLink]="['dashboard','users']">
        <mat-icon>recent_actors</mat-icon>
        <span>Users</span>
      </a>
      <a mat-menu-item [routerLink]="['dashboard','logout']">
        <mat-icon>eject</mat-icon>
        <span>Logout</span>
      </a>
      <a mat-menu-item [routerLink]="['login']">
        <mat-icon>settings_power</mat-icon>
        <span>Login</span>
      </a>
      <a mat-menu-item [routerLink]="['dashboard','inbox']">
        <mat-icon>inbox</mat-icon>
        <span>Inbox</span>
      </a>
    </mat-menu>
    <a mat-icon-button [routerLink]="['search']">
      <mat-icon>search</mat-icon>
    </a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item [routerLink]="['catalog']">
        <mat-icon>dialpad</mat-icon>
        <span>Catalog</span>
      </a>
      <a mat-menu-item [routerLink]="['sop']">
        <mat-icon>voicemail</mat-icon>
        <span>SOP</span>
      </a>
      <a mat-menu-item [routerLink]="['mds']">
        <mat-icon>notifications_off</mat-icon>
        <span>MDS</span>
      </a>
    </mat-menu>
  </div>
</mat-toolbar>
