<div #slider name="slider" class="slider fullscreen">
  <ul class="slides">
    <li>
      <img src="../../../assets/images/09.jpg" alt="Retro modern">
      <div class="caption center-align">
        <h3>Retro modern</h3>
        <h5 class="light grey-text text-lighten-3">Black walnut with clean lines</h5>
      </div>
    </li>
    <li>
      <img src="../../../assets/images/img_8297-1024x708.jpg" alt="Old and new">
      <div class="caption left-align">
        <h3>Old and new</h3>
        <h5 class="light grey-text text-lighten-3">Combing latest materials on more classical styles.</h5>
      </div>
    </li>
    <li>
      <img src="../../../assets/images/oseen-kitchen-1024x579.jpg" alt="Clean modern kitchens">
      <div class="caption right-align">
        <h3>Clean modern kitchens</h3>
        <h5 class="light grey-text text-lighten-3">Clean integrated handles accross all cabinets</h5>
      </div>
    </li>
  </ul>
  <ul class="indicators">
    <li class="indicator-item"></li>
    <li class="indicator-item active"></li>
    <li class="indicator-item"></li>
  </ul>
</div>
