<div id="images-carousel" class="">
  <button class="btn-small red" (click)="close(false)">
    <i class="material-icons">close</i>
  </button>
  <div class="card-panel">
    <div class="card-image">
      <img
        [src]="images.current.image"
        [alt]="images.current.title"
        class="full-image"
      />
    </div>
    <div class="card-content">
      <span class="card-title">
        <b>{{ images.current.title }}</b>
      </span>
    </div>
  </div>
  <div class="thumbs">
    <div class="thumb" *ngFor="let thumb of images.items">
      <div
        [ngClass]="{
          current: thumb.current,
          clicked: thumb.clicked
        }"
      >
        <img
          (click)="changeImage(thumb.image)"
          [src]="thumb.image"
          [alt]="thumb.title"
        />
      </div>
    </div>
  </div>
</div>
