<div class="card">
  <ul class="collection with-header">
      <span class="right"><small>List</small></span>
    <li class="collection-header">
      <h4>{{ list.title }}</h4>
    </li>
    <li class="collection-item" *ngFor="let item of list.items; index as i; trackBy: trackByFn">
      <div class="icon"><i class="material-icons circle no-print">{{ item.icon || 'label' }}</i></div>
      <div [ngClass]="{ 
        'margin-image': item.image?.image,
        'content': !item.image
      }">
        <span class="title" >
          <b>{{ item.title }}</b>
          <b *ngIf="item.title && item.text">:</b>
        </span>
        <p>{{ item.text }}</p>
      </div>
      <div class="secondary-content" *ngIf="item?.image">
        <img
          (click)="openImageModal(item.image.image)"
          #materialboxed
          appImgBoxed
          class="responsive-img materialboxed"
          [src]="item.image.image"
          [alt]="item.image.title"
        />
      </div>
    </li>
  </ul>
</div>
