.login {
  position: relative;
  min-width: 460px;
  width: 33% !important;
  padding-bottom: 4rem !important;
  padding-right: 1rem !important;
  background-color: #fafafa;
  margin: auto;
}

.full-width {
  position: fixed;
  z-index: 1003;
  top: 25%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.blogin {
  bottom: 1.5rem;
}

.add-margin {
  margin-left: 2rem !important;
}

.login-spinner {
  position: relative;
  margin-left: 50%;
  margin-top: 25%;
}

.login20 {
  display: inline-block;
  width: 20%;
}

.login80 {
  display: inline-block;
  width: 80%;
}
