<app-slider></app-slider>
<div class="modal-overlay" style="z-index: 997; display: block; opacity: 0.5;"></div>
<div class="full-width">
  <div id="login" class="login card">
    <p class="grey-text center-align">
      <small>
        <i>Use webquoin login for access to Catalog.</i>
      </small>
    </p>
    <app-spinner *ngIf="(loading$ | async) === true"></app-spinner>
    <form class="form-flex" [ngClass]="{hidden: (loading$ | async) === true}">
      <div class="hide-on-small-only flex1">
        <div class="valign-wrapper">
          <h2 class="center-align">
            <i class="large material-icons">account_box</i>
          </h2>
        </div>
      </div>
      <div class="input-field flex2">
        <mat-form-field class="">
          <input matInput #username maxlength="65" placeholder="Username" aria-label="Username" autocomplete="username">
          <mat-hint align="start"><strong>Enter your webquoin user name</strong> </mat-hint>
          <mat-hint align="end">{{username.value.length}} / 65</mat-hint>
        </mat-form-field>
        <mat-form-field class="input-field">
          <input matInput class="input-field" #password type="password" placeholder="Password" aria-label="Password"
            autocomplete="current-password" (keyup.enter)="Login({username: username.value, password: password.value})">
        </mat-form-field>
      </div>
    </form>
    <button mat-flat-button aria-label="login" [disabled]="username.value.length <= 3 || password.value.length <= 3"
      (click)="Login({username: username.value, password: password.value})" color="primary" class="align-center"
      [ngClass]="{hidden: (loading$ | async) === true}">Login</button>
    <div *ngIf="(attempt$ | async) !== 0" class="errormessage orange darken-3"><span class="white-text">{{ loginerror$
        |
        async }}</span></div>
  </div>
</div>
