.login {
  padding-bottom: 3rem !important;
  padding-right: 1rem !important;
  background-color: #fafafa;
  max-width: 25rem;
  width: 100%;  
  justify-self: center;
}

.form-flex {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -ms-grid-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.flex1 {
  grid-column: 1;
}

.flex2 {
  grid-column: span 2;
  margin-left: 1rem;
}

.full-width {
  position: fixed;
  z-index: 997;
  top: 25%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
}

.blogin {
  bottom: 1.5rem;
}

.add-margin {
  margin-left: 2rem !important;
}

.login-spinner {
  position: relative;
  margin-left: 50%;
  margin-top: 25%;
}

.login20 {
  display: inline-block;
  width: 20%;
}

.login80 {
  display: inline-block;
  width: 80%;
}

.errormessage {
  display: block;
  margin-right: 0rem;
  margin-top: 1rem;
  margin-bottom: -1.5rem;
  margin-left: 1rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
}
