/* You can add global styles to this file, and also import other style files */
/* Materialize-css https://materializecss.com */
// Color
@import "~materialize-css/sass/components/color-variables";
@import "~materialize-css/sass/components/color-classes";
// Variables;
@import "~materialize-css/sass/components/variables";
// Reset
// @import "~materialize-css/sass/components/normalize";
// components
@import "~materialize-css/sass/components/global";
// @import "~materialize-css/sass/components/badges";
// @import "~materialize-css/sass/components/icons-material-design";
// @import "~materialize-css/sass/components/grid";
// @import "~materialize-css/sass/components/navbar";
@import "~materialize-css/sass/components/typography";
// @import "~materialize-css/sass/components/transitions";
// @import "~materialize-css/sass/components/cards";
// @import "~materialize-css/sass/components/toast";
// @import "~materialize-css/sass/components/tabs";
// @import "~materialize-css/sass/components/tooltip";
// @import "~materialize-css/sass/components/buttons";
// @import "~materialize-css/sass/components/dropdown";
// @import "~materialize-css/sass/components/waves";
@import "~materialize-css/sass/components/modal";
// @import "~materialize-css/sass/components/collapsible";
// @import "~materialize-css/sass/components/chips";
// @import "~materialize-css/sass/components/materialbox";
// @import "~materialize-css/sass/components/forms/forms";
// @import "~materialize-css/sass/components/table_of_contents";
// @import "~materialize-css/sass/components/sidenav";
// @import "~materialize-css/sass/components/preloader";
@import "~materialize-css/sass/components/slider";
// @import "~materialize-css/sass/components/carousel";
// @import "~materialize-css/sass/components/tapTarget";
// @import "~materialize-css/sass/components/pulse";
// @import "~materialize-css/sass/components/datepicker";
// @import "~materialize-css/sass/components/timepicker";
/* Materialize-css end */

// scss tips and tricks https://sass-lang.com/guide

$primary-color: #4e342e;
$secondary-color: rgba(255, 255, 255, 1);
$primary: red;

html,
body {
  height: 100%;
  background-color: rgba(96, 125, 139, 0.5);
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.brand-color {
  background: $primary-color !important;
  color: $secondary-color !important;

  .copy-right {
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 10pt;
  }
}

.main {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#login {
  .modal {
    width: 400px !important;
    height: 300px !important;
  }
}

.hidden {
  display: none;
}

.brand-logo {
  position: fixed;
  left: 0;

  span {
    position: relative;
    top: -.7rem;
    color: $secondary-color;
    font-style: normal !important;
    font-weight: 350;
    text-decoration: none !important;
  }
}

.align-right {
  position: fixed;
  right: 0;
}

.version {
  font-weight: 200;
  margin-right: 3rem;
  margin-top: 1rem;
  font-size: 7pt;
}

.menu {
  top: 1.2rem;
}

.user-name {
  font-size: 9pt;
  font-weight: 300;
}

.mat-form-field-infix {
  width: 350px !important;
  margin-bottom: 1rem;
}

.background-color {
  background: $secondary-color !important;
}

.padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.imageLogo {
  margin-top: 0.2rem;
  margin-right: 0.3rem;
  max-height: 3rem;
  left: 0;
  top: 0;
}

.image20 {
  max-height: 20vw;
  max-width: 15vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.card {
  .card-image {
    img {
      width: auto !important;
    }
  }

  .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;

    .card-title {
      display: block;
      line-height: 32px;
      margin-bottom: 8px;
      font-size: 24px;
      font-weight: 300;
    }
  }
}

.card20 {
  max-height: 20vw;
  overflow: hidden;
}

.card-empl {
  max-height: 10vw;
  max-width: 100%;
}

.of-hidden {
  overflow: hidden !important;
}

.inactive {
  background-color: #263238;
}

.bgd1 {
  background-color: rgba(66, 96, 121, 0.459)
}

.collection .collection-item.active {
  background-color: #fde0b2 !important;
}

.materialboxed.active {
  background-color: #fff;
  padding: 3em;
}

.padding {
  padding: 0.5em;

  material-placeholder {
    margin-bottom: 1em;
  }

  span {
    position: relative;
    margin-top: 1em;
    background-color: rgba(96, 125, 139, 0.5);
    padding: 0.2em;
    left: 1em;
  }
}

.ordercode {
  font-weight: bold;
  color: #800;
  cursor: pointer;
}

.whiteLine {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  margin-bottom: -0.85rem;
  height: 0.6rem;
}

.angle {
  position: relative;
  width: 0;
  height: 0;
  border-bottom: 45px solid #fff;
  border-left: 45px solid transparent;
}

.slider.fullscreen {
  position: relative !important;
  height: 80% !important;
}

.ordercode {
  font-weight: bold;
  color: #800;
  cursor: pointer;
}

@supports(display: grid) {
  .detail-card {
    width: 50%;
    display: -ms-grid;
    display: grid;
    grid-gap: 1em;
    -ms-grid-columns: (minmax(2em, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(2em, 1fr));
  }

  .grid {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    grid-gap: 1em;
    -ms-grid-columns: (minmax(18em, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  }

  .grid2 {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    grid-gap: 1em;
    -ms-grid-columns: (minmax(12em, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  }

  .doorGrid {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    grid-gap: 1em;
    -ms-grid-columns: 2;
    grid-template-columns: 1fr 1fr;
  }
}

.noteitem {
  background-color: rgb(255, 157, 157);
  border-radius: 0.2em;
  border: solid 1px rgb(59, 3, 3);
}

.nritem {
  display: list-item;
  /* This has to be "list-item"                                               */
  list-style-type: circle;
  /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
  list-style-position: inside;
  /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */
}

.discontinued {
  background-color: rgba(65, 90, 114, 0.5) !important;
}

.half {
  width: 50%;
  display: block;
}

.full {
  width: 100%;
}

@media print {
  .page-break {
    page-break-after: always;
  }

  .break-page {
    page-break-before: always;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }

  .card,
  .card-panel,
  .col {
    margin: 0 !important;
    padding: 0 !important;
    border: 0px solid #fff !important;
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: 0px !important;
  }

  .z-depth-1,
  nav,
  .card-panel,
  .card,
  .toast,
  .btn,
  .btn-large,
  .btn-small,
  .btn-floating,
  .dropdown-content,
  .collapsible {
    box-shadow: none !important;
  }

  .half {
    max-width: 50% !important;
    max-height: 50% !important;
    page-break-inside: avoid;
  }

  #topic {
    font-size: 16pt;
    margin: 0 !important;
    padding: 0 !important;
    border-style: hidden;
  }

  .collection-header,
  h5 {
    font-size: 12pt !important;
    margin: 0 !important;
    padding: 0.2rem !important;
  }

  .collection-item {
    font-size: 9pt;
    margin: 0 !important;
    padding: 0.2rem 0.2rem 0.2rem 0.5rem !important;
  }

  .timenuser {
    font-size: 7pt;
    margin: 0 !important;
    padding: 0 !important;
    position: fixed;
    right: 0;
    top: 0;
  }
}
