<div class="main">
  <div id="top">
    <div class="card-panel dark-grey white-text search-form">
      <div class="icon text-grey"><mat-icon aria-hidden="false" aria-label="Example search icon">search</mat-icon></div>
        <mat-form-field class="input-field text-grey">
          <input matInput placeholder="Search" 
          class="validate"
          appAutoFocus
          required
          #search
          (keyup.enter)="Search(search.value)">
        </mat-form-field>
      <div class="search-value" *ngIf="search.value">
        Searched for: {{ search.value }}
      </div>
    </div>
  </div>
  <div *ngIf="results$ | async as results">
    <app-loading
      class="search-loading"
      *ngIf="results.loading && results.loaded === false"
    ></app-loading>
    <app-results
      class="search-results"
      *ngIf="results.loaded === true"
      [cards]="results.results"
      [query]="results.query"
    ></app-results>
    <!-- {{ results | json }} -->
  </div>
</div>
